.tombol{
    background-color: #7969E8;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 8px 12px ;
}
*{
    font-family: 'Nunito', sans-serif;
   
}

.menu{
    margin-left: 5vw;
}

.t{
    margin-left: 1vw;
}

h1{
    color: #7969E8;
    margin-top: 20vh !important;
    font-weight: bolder !important;
}
