img {
    width: 10%;
}

h2 {
    font-size: 30px;
    color: #5498c8;
    margin-bottom: 1vh;
}

.prim-button {
    background-color: #5498c8;
    border: solid 2.5px #5498c8;
    padding: 5px 0px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 2vh;
    width: 6vw;
}

.isi {
    margin-left: 5vw;
    margin-top: 20vh;
    text-align: center;
}

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}
