h1 {
    position: relative;
    color: #5498c8;
    top: 4vh;
    font-size: 3rem;
    text-align: left;
    padding-left: 140px;
    font-weight: bolder !important;
}

.item {
    width: 85%;
    margin-top: 20px !important;
    margin-left: 15px !important;
}
.cards {
    position: relative;
    width: 500px !important;
    height: 250px !important;
    top: 10vh;
    background-color: black;
    border-radius: 10px;
    float: left !important;
    margin-right: 30px !important;
    left: 10%;
    margin-bottom: 20px;
}

.card:hover {
    cursor: pointer;
    opacity: 0.9;
}

.cards img {
    position: relative;
    height: 250px;
    width: 500px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    object-position: 9%;
    opacity: 0.6;
}

.card-title {
    position: absolute;
    top: 3vh;
    left: 1.3vw;
    color: white;
}

.card-car-name {
    position: absolute;
    top: 73%;
    left: 1.3vw;
    font-size: 1.5rem;
    color: white;
}

.card-car-price {
    position: absolute;
    top: 83%;
    left: 1.3vw;
    font-size: 1.2rem;
    color: white;
}

.card-car-cc {
    position: absolute;
    top: 3vh;
    left: 85%;
    color: white;
    font-size: medium;
}

.price-hari {
    font-size: 0.9rem;
}

.card p:nth-child(2) {
    margin-top: -10px !important;
    font-weight: bolder;
}

.kartuMobil {
    width: 500px !important;
    height: 250px !important;
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0%;
}

.kartuMobil:hover {
    cursor: pointer;
    opacity: 0.3;
    background-color: black;
}

.gambarr {
    position: absolute;
    left: 0;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
    }
    .item {
        width: 80%;
        margin-top: 15px !important;
        margin-left: 20% !important;
    }
}

@media only screen and (max-width: 1280px) {
    .card-car-name {
        position: absolute;
        top: 70%;
        left: 1.3vw;
        font-size: 1.5rem;
        color: white;
    }

    .card-car-price {
        position: absolute;
        top: 83%;
        left: 1.3vw;
        font-size: 1.5rem;
        color: white;
    }

    .card-car-cc {
        position: absolute;
        top: 78%;
        left: 76%;
        color: white;
        font-size: 0.8rem;
    }
}
