* {
    font-family: "Poppins", sans-serif !important;
    margin: 0;
    border: 0;
    padding: 0;
}

.menu {
    color: black;
}

.nav {
    z-index: 999;
    color: #7969e8;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
    top: 0%;
    position: sticky;
    background-color: #f7f7f7 !important;
}

.ungu {
    color: #7969e8 !important;
}
a {
    text-decoration: none !important;
    font-weight: 600;
    font-size: 1.2rem !important;
}

.sred {
    color: #3235ff;
}

.brand-logo {
    padding-left: 3% !important;
    color: #ded9ff !important;
    font-size: 2rem !important;
    font-weight: bolder;
    background-color: #5498c8;
    padding-right: 1rem !important;
}

.other_nav {
    padding-right: 6%;
}

.keluar {
    text-decoration: none !important;
    font-size: 1.2rem !important;
    background-color: #b54949;
    color: white !important;
}

.keluar:hover {
    background-color: #b54949 !important;
    opacity: 0.8 !important;
}

.a {
    margin-right: 20px !important;
    text-decoration: none;
    color: #7969e8;
}

.a:hover {
    text-decoration: underline;
}

.b {
    margin-right: 20px !important;
    text-decoration: none;
    color: #7969e8;
}

.b:hover {
    text-decoration: underline;
}

.c {
    text-decoration: none !important;
    color: #7969e8 !important;
}

@media only screen and (max-width: 600px) {
    /* .nav{
        width: 125% !important;
    } */
    .nav-others {
        /* position: relative; */
        margin-left: 9% !important;
    }
}
