h2 {
    font-size: 30px;
    color: #5498c8;
    margin-bottom: 5vh;
    font-weight: bolder !important;
}

table {
    width: 70%;
}

th {
    border: 2px solid #5498c8 !important;
    text-align: center !important;
}

td {
    text-align: center !important;

}

.prim-button {
    background-color: #5498c8;
    border: solid 2.5px #5498c8;
    padding: 5px 0px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 2vh;
    width: 13vw;
}

.red-button {
    background-color: #B54949;
    padding: 8px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

table,
th {
    border: 2px solid #5498c8;
    border-collapse: collapse;
    padding: 5px 10px;
    text-align: center !important;
    background-color: #99d5ff;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #5498c8;
    background-color: white;
}


.isi {
    margin-top: 5vw;
}

.bayar {
    width: 100%;
}

.batal {
    width: 100%;
    margin-top: -20px !important;
}

.menunggu_konfirmasi {
    width: 100%;
    border: 2px solid #5498c8;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.padding {
    border: 2px solid #5498c8;
}

.padding td {
    border: 2px solid #5498c8;
}